<html>
<body>
<form action="/action_page.php">
<div class="container">
<img class="img-responsive" width="50" alt="Edubridge Logo" src="assets/Images/edu1.png">
<h1>Register</h1>
<p>Please fill in this form to create an account.</p>
<hr>
<label for="name"><b>Name</b></label><pre></pre>
<input type="text" placeholder="Enter Name" name="name" id="name"
required><pre></pre>
<label for="email"><b>Email</b></label><pre></pre>
<input type="text" placeholder="Enter Email" name="email" id="email"
required><pre></pre>
<label for="psw"><b>Password</b></label><pre></pre>
<input type="password" placeholder="Enter Password" name="psw" id="psw"
required><pre></pre>
<label for="age"><b>Age</b></label><pre></pre>
<input type="text" placeholder="Enter age" name="age" id="age"
required><pre></pre>
<hr>
<button type="submit" class="registerbtn">Register</button>
</div>
</form>
</body>
</html>

